pyautogui
Pillow
pywin32
pyperclip
winrt-Windows.Media.Ocr
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Storage
winrt-Windows.Storage.Streams
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections